APP_NAME="Esencia Retro"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://proyectotaller.test

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_AR

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

# Configuración simplificada para el equipo (Guía 5)
DB_CONNECTION=sqlite
# DB_DATABASE=database/database.sqlite

# Cambiado a 'file' para que funcione sin base de datos al inicio
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

# Mail configurado en 'log' para ver los correos en storage/logs
MAIL_MAILER=log
MAIL_FROM_ADDRESS="soporte@esenciaretro.com"
MAIL_FROM_NAME="${APP_NAME}"

# No tocar estas líneas (Vite para el CSS/JS)
VITE_APP_NAME="${APP_NAME}"
